html,
body {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    margin: 20px;
    padding: 0;
    background-color: dimgray;
    font-family: Courier;
    height: min-content;
}

.w {
    color: white;
}

canvas {
    display: block;
}

#interface {
    background-color: gainsboro;
    margin: 20px;
    padding: 10px;
    width: min-content;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: outlineAnim 10s infinite;
}

@keyframes outlineAnim {
    0% {
        outline: 5px dotted rgb(0, 207, 0);
    }

    50% {
        outline: 5px dotted rgb(100, 20, 200);
    }

    100% {
        outline: 5px dotted rgb(0, 207, 0);
    }
}

button {
    /* width: 100%; */
    border: 1px solid black;
    color: black;
    /* background-color: rgb(0, 0, 0, 0); */
}

#button {
    display: flex 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#interface>* {
    padding: 10px;
}

p {
    font-size: 1.2em;
    position: relative;
    text-align: center;
    /* padding: 10px; */
    margin-top: 10px;
}